[Desktop Entry]
Type=Application
Name=Requiescat
Comment=Cemetery records and maps
Exec=requiescat-updater
Icon=app.requiescat.org
Terminal=false
Categories=Office;Database;
